*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}

.container {
  width: 420px;
  height: 550px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 30px 40px;
}

form {
  height: 320px;
  width: 400px;
  backdrop-filter: blur(10px);
  padding: 50px 35px;
}

form * {
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

form label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.0713);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 30px;
  width: 100%;
  background-color: white;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #080710;
  border-radius: 5px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.go,
.fb {
  margin-top: 30px;
  width: 160px;
  background: transparent;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #ffff;
  border-radius: 5px;
  text-align: center;
}

i {
  padding-right: 5px;
}

.form {
  text-align: center;
}
